<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home-首页</title>
</head>
<body>
    <h1 ng-click='my.aaa(my.hometext)'>
        {{my.hometext}}
        <!-- 我是路由引入====》》》home-首页====>我是点击事件弹窗 -->
    </h1>
    <!-- <div ng-container='myMode as mode'>
        <button ng-click='mode.goclick()'>点击click()</button>
    </div> -->
</body>
<script>
    // app.controller('myMode',['$scope',function($scope){ 
    // this.goclick = function goclick() {
    //     return alert(111);
    //   };
    // $scope.aaa=function(){
    //     alert(111)
    // }
//  }]);
</script>
</html>