sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
	width: 49.58333em;
}
.stl_04 {
	height: 7.008333em;
}
.ie .stl_04 {
	height: 70.08334em;
}
@font-face {
	font-family:"NPNGLJ+Î¢ÈíÑÅºÚ,Bold";
	src:url("620fc22d-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_05 {
	font-size: 1.5em;
	font-family: "NPNGLJ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #333333;
}
.stl_06 {
	line-height: 1.319824em;
}
.stl_07 {
	letter-spacing: 0em;
}

.ie .stl_07 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"HTBEIF+Î¢ÈíÑÅºÚ,Bold";
	src:url("a7859991-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	font-size: 1.13em;
	font-family: "HTBEIF+Î¢ÈíÑÅºÚ,Bold";
	color: #333333;
}
.stl_09 {
	letter-spacing: -0.005em;
}

.ie .stl_09 {
	letter-spacing: -0.0903px;
}
.stl_10 {
	font-size: 1.13em;
	font-family: "NPNGLJ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #333333;
}
@font-face {
	font-family:"KRFRBQ+Î¢ÈíÑÅºÚ";
	src:url("0285c95c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	/* font-size: 0.75em; */
    font-size: 1em;
	font-family: "KRFRBQ+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #333333;
}
.stl_12 {
	letter-spacing: 0.0001em;
}

.ie .stl_12 {
	letter-spacing: 0.001px;
}
.stl_13 {
	letter-spacing: -0.0185em;
}

.ie .stl_13 {
	letter-spacing: -0.2225px;
}
.stl_14 {
	letter-spacing: -0.0036em;
}

.ie .stl_14 {
	letter-spacing: -0.0651px;
}
@font-face {
	font-family:"DMPQAS+Î¢ÈíÑÅºÚ";
	src:url("25f5c49c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	/* font-size: 0.75em; */
    font-size: 1em;
	font-family: "DMPQAS+Î¢ÈíÑÅºÚ";
	color: #333333;
}
.stl_16 {
	letter-spacing: 0.009em;
}

.ie .stl_16 {
	letter-spacing: 0.1083px;
}
.stl_17 {
	letter-spacing: 0.008em;
}

.ie .stl_17 {
	letter-spacing: 0.096px;
}
.stl_18 {
	letter-spacing: -0.0026em;
}

.ie .stl_18 {
	letter-spacing: -0.0309px;
}
.stl_19 {
	letter-spacing: -0.0025em;
}

.ie .stl_19 {
	letter-spacing: -0.0303px;
}
.stl_20 {
	letter-spacing: -0.0024em;
}

.ie .stl_20 {
	letter-spacing: -0.0289px;
}
.stl_21 {
	/* font-size: 0.75em; */
    font-size: 1em;
	font-family: "HTBEIF+Î¢ÈíÑÅºÚ,Bold";
	color: #333333;
}
.stl_22 {
	letter-spacing: -0.0254em;
}

.ie .stl_22 {
	letter-spacing: -0.3048px;
}
.stl_23 {
	/* font-size: 0.75em; */
    font-size: 1em;
	font-family: "NPNGLJ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #333333;
}
.stl_24 {
	letter-spacing: 0.0002em;
}

.ie .stl_24 {
	letter-spacing: 0.0023px;
}
.stl_25 {
	letter-spacing: 0.0008em;
}

.ie .stl_25 {
	letter-spacing: 0.0099px;
}
.stl_26 {
	letter-spacing: 0.0004em;
}

.ie .stl_26 {
	letter-spacing: 0.0048px;
}
.stl_27 {
	letter-spacing: 0.0006em;
}

.ie .stl_27 {
	letter-spacing: 0.0069px;
}
.stl_28 {
	letter-spacing: -0.0023em;
}

.ie .stl_28 {
	letter-spacing: -0.0279px;
}
.stl_29 {
	letter-spacing: -0.0034em;
}

.ie .stl_29 {
	letter-spacing: -0.061px;
}
.stl_30 {
	letter-spacing: -0.0039em;
}

.ie .stl_30 {
	letter-spacing: -0.0472px;
}
.stl_31 {
	letter-spacing: -0.0106em;
}

.ie .stl_31 {
	letter-spacing: -0.1278px;
}
.stl_32 {
	letter-spacing: -0.0002em;
}

.ie .stl_32 {
	letter-spacing: -0.0029px;
}
.stl_33 {
	letter-spacing: 0.0062em;
}

.ie .stl_33 {
	letter-spacing: 0.074px;
}
.stl_34 {
	letter-spacing: -0.0027em;
}

.ie .stl_34 {
	letter-spacing: -0.0327px;
}
.stl_35 {
	letter-spacing: -0.0094em;
}

.ie .stl_35 {
	letter-spacing: -0.1125px;
}
.stl_36 {
	letter-spacing: -0.003em;
}

.ie .stl_36 {
	letter-spacing: -0.0551px;
}
.stl_37 {
	letter-spacing: -0.0029em;
}

.ie .stl_37 {
	letter-spacing: -0.0351px;
}
.stl_38 {
	letter-spacing: 0.0016em;
}

.ie .stl_38 {
	letter-spacing: 0.0187px;
}
.stl_39 {
	letter-spacing: -0.0184em;
}

.ie .stl_39 {
	letter-spacing: -0.2204px;
}
.stl_40 {
	letter-spacing: -0.0009em;
}

.ie .stl_40 {
	letter-spacing: -0.0105px;
}
.stl_41 {
	font-size: 1.13em;
	font-family: "NPNGLJ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #000000;
}
.stl_42 {
	letter-spacing: -0.0222em;
}

.ie .stl_42 {
	letter-spacing: -0.2664px;
}
.stl_43 {
	letter-spacing: -0.0037em;
}

.ie .stl_43 {
	letter-spacing: -0.0662px;
}
.stl_44 {
	letter-spacing: -0.0175em;
}

.ie .stl_44 {
	letter-spacing: -0.21px;
}
